<<<<<<< HEAD
.remove-btn {
  margin-left: 1.0rem;
}

.fade-enter {
  opacity: 0.01;
}


.fade-enter-active {
  opacity: 1;
  transition: opacity 3000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01; 
  transition: opacity 3000ms ease-in;
}

=======
>>>>>>> 53f6151a96d085729cff494b15bf683620e47d6c
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

<<<<<<< HEAD
.App-Centered {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

=======
>>>>>>> 53f6151a96d085729cff494b15bf683620e47d6c
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
